[core]
	editor = mcedit
	autocrlf = false
	savecrlf = false
	pager = less -+$LESS -FRX
	logallrefupdates = true
	whitespace = blank-at-eol,space-before-tab,indent-with-non-tab
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[alias]
s = status
b = branch
ba = branch -a -v -v
bs = !git-branch-status
bsi = !git-branch-status -i
ci = commit
co = checkout

d = diff -C
ds = diff -C --stat
dsp = diff -C --stat -p
dw = diff -C --color-words

l = log -C --decorate
ls = log -C --stat --decorate
lsp = log -C --stat -p --decorate
lg = log --graph '--pretty=tformat:%Cblue%h%Creset %Cgreen%ar%Creset %Cblue%d%Creset %s'
lga = log --graph '--pretty=tformat:%Cblue%h%Creset %Cgreen%ar%Creset %Cblue%d%Creset %s' --all
l19 = log --graph '--pretty=tformat:%Cblue%h%Creset %Cgreen%ar%Creset %Cblue%d%Creset %s' --all -19
# для сложных ветвлений
lsd = log --graph '--pretty=tformat:%Cblue%h%Creset %Cgreen%ar%Creset %Cblue%d%Creset %s' --all --simplify-by-decoration
ru = remote update
sb = show-branch --sha1-name
ls-del = ls-files -d
ls-mod = ls-files -m # включая удалённые файлы
ls-new = ls-files --exclude-standard -o
ls-ign = ls-files --exclude-standard -o -i

st = stash
sta = stash apply
stc = stash clear

sup = !git-svn-update
sre = svn rebase --authors-prog=/usr/local/bin/git-svn-author
sci = svn dcommit --authors-prog=/usr/local/bin/git-svn-author
stg = svn tag

sfe = svn fetch --authors-prog=/usr/local/bin/git-svn-author

chp = cherry-pick

[branch]
autosetuprebase = always
autosetupmergeoptions = --no-ff

[branch "master"]
mergeoptions = --no-ff
rebase = true

[branch "development"]
mergeoptions = --no-ff
rebase = true
